/*
PROJECT STYLES
==============
Imports all project style components.
*/
@font-face {
  font-family: 'title-font-bold';
  src: url("../fonts/Tangerine/Tangerine-Bold.ttf"); }

@font-face {
  font-family: 'main-font-reg';
  src: url("../fonts/Lato/Lato-Regular.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: main-font-reg;
  color: #37353B; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #37353B; }

.nav {
  height: 70px;
  background-color: #d7f5cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #37353B;
  padding: 10px 30px;
  box-sizing: border-box; }
  .nav--logo-title {
    font-family: title-font-bold;
    font-size: 32px;
    margin-right: 30px;
    background-color: white;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    line-height: 45px;
    padding: 5px; }
  .nav--list {
    display: flex;
    width: 100%; }
    .nav--list-link .link-name {
      line-height: 22px;
      padding: 0 10px; }
  .nav--icons {
    display: flex; }
    .nav--icons-icon .icon-link {
      padding-left: 15px; }
      .nav--icons-icon .icon-link .fas {
        color: #37353B;
        font-size: 24px; }
