/*
PROJECT STYLES
==============
Imports all project style components.
*/
@font-face {
  font-family: 'title-font-bold';
  src: url("../fonts/Tangerine/Tangerine-Bold.ttf"); }

@font-face {
  font-family: 'main-font-reg';
  src: url("../fonts/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: 'main-font-bold';
  src: url("../fonts/Lato/Lato-Bold.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: main-font-reg;
  color: #37353B; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #37353B; }

h1 {
  font-family: title-font-bold;
  font-size: 54px; }

.nav {
  position: sticky;
  height: 70px;
  background-color: #d7f5cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #37353B;
  padding: 10px 30px;
  box-sizing: border-box;
  z-index: 5; }
  @media all and (max-width: 575px) {
    .nav {
      position: relative;
      padding: 10px 15px; } }
  .nav--toggle-menu {
    display: none; }
    @media all and (max-width: 575px) {
      .nav--toggle-menu {
        display: block; } }
    .nav--toggle-menu .fas {
      font-size: 24px;
      cursor: pointer; }
  @media all and (max-width: 575px) {
    .nav--logo {
      width: 100%;
      display: flex;
      justify-content: center; } }
  .nav--logo-title {
    font-family: title-font-bold;
    font-size: 32px;
    margin-right: 30px;
    background-color: white;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    line-height: 45px;
    padding: 5px; }
    @media all and (max-width: 575px) {
      .nav--logo-title {
        margin-right: 0; } }
  .nav--list {
    display: flex;
    width: 100%;
    justify-content: flex-end; }
    @media all and (max-width: 575px) {
      .nav--list {
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 70px; } }
    @media all and (max-width: 575px) {
      .nav--list-link {
        background-color: #d7f5cc;
        height: 50px;
        display: flex;
        align-items: center; } }
    .nav--list-link .link-name {
      line-height: 22px;
      padding: 0 10px;
      font-family: main-font-bold; }
      @media all and (max-width: 767px) {
        .nav--list-link .link-name {
          font-size: 14px; } }
      @media all and (max-width: 575px) {
        .nav--list-link .link-name {
          font-size: 16px; } }
  .nav .mobile-open {
    left: 0;
    transition: all .2s; }
  .nav .mobile-close {
    left: -100%;
    transition: all .2s; }
  .nav--icons {
    display: flex; }
    .nav--icons-icon .icon-link {
      padding-left: 15px; }
      .nav--icons-icon .icon-link .fas {
        color: #37353B;
        font-size: 24px; }
        @media all and (max-width: 767px) {
          .nav--icons-icon .icon-link .fas {
            font-size: 20px; } }

.header {
  background: url(../images/media/header-bcg.jpg);
  background-size: cover;
  height: 70vh;
  position: relative; }
  @media all and (max-width: 575px) {
    .header {
      height: 50vh; } }
  .header--title-container {
    position: absolute;
    top: 40%;
    left: 30px;
    padding-right: 15px; }
    @media all and (max-width: 575px) {
      .header--title-container {
        left: 15px; } }
    .header--title-container .header-title {
      padding-bottom: 10px; }
    .header--title-container .header-subtitle {
      font-size: 18px; }
