.banners {

    &-intro {
        padding: $md-space;
        font-size: 20px;
        background-color: $bcg-clr-3;

        @media #{$max575} {
            padding: $md-space $sm-space;
        }

        &-title {
            text-align: center;
            color: $title-clr;

            @media #{$max767} {
                font-size: 40px;
            }
        }

        &-content {
            max-width: 1200px;
            margin: 0 auto;
            padding: $md-space 0;

            @media #{$max767} {
                font-size: 16px;
            }

            @media #{$max575} {
                padding: $md-space 0;
            }
        }
    }

    .banner {
        width: 50%;
        height: auto;
        position: relative;
        float: left;
        overflow: hidden;

        @media #{$max767} {
            width: 100%;
        }

        &:hover {
            .banner-img {
                filter: brightness(0.3);
                transform: scale(1.2);
                object-fit: cover;
                transition: all .3s;
            }

            .banner-content {
                border: 20px solid $bcg-clr-2;
                transition: all .3s;

                @media #{$max991} {
                    border: 10px solid $bcg-clr-2;
                }

                &-btn {
                    transform: scale(1.2);
                    transition: all .3s;
                }
            }
        }

        &-img {
            width: 100%;
            height: auto;
            transform: scale(1.05);
            filter: brightness(0.6);
        }

        &-content {
            width: calc(100% - 60px);
            height:calc(100% - 60px);
            margin: 30px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: 0px solid $good-clr;
            border-radius: 5px;

            &-btn {
                padding: 16px 20px;
                font-size: 28px;
                border: none;
                border-radius: 5px;
                color: $text-clr;
                background-color: $good-clr;
                cursor: pointer;

                @media #{$max991} {
                    padding: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}