.nav {
    position: sticky;
    height: 70px;
    background-color: $bcg-clr-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-clr;
    padding: 10px 30px;
    box-sizing: border-box;
    z-index: 5;

    @media #{$max575} {
        position: relative;
        padding: 10px 15px;
    }

    &--toggle-menu {
        display: none;

        @media #{$max575} {
            display: block;
        }

        .fas {
            font-size: 24px;
            cursor: pointer;
        }
    }

    &--logo {

        @media #{$max575} {
            width: 100%;
            display: flex;
            // justify-content: flex-start;
            // margin-left: 15px;
            justify-content: center;
        }

        &-title {
            font-family: title-font-bold;
            font-size: 32px;
            margin-right: 30px;
            background-color: white;
            width: 45px;
            height: 45px;
            display: inline-block;
            border-radius: 50%;
            line-height: 45px;
            padding: 5px;

            @media #{$max575} {
                margin-right: 0;
            }
        }
    }

    &--list {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        @media #{$max575} {
            position: absolute;
            flex-direction: column;
            left: 0;
            top: 70px;
        }

        &-link {

            @media #{$max575} {
                background-color: $bcg-clr-2;
                height: 50px;
                display: flex;
                align-items: center;
            }

            .link-name {
                line-height: 22px;
                padding: 0 10px;
                font-family: main-font-bold;

                @media #{$max767} {
                    font-size: 14px;
                }

                @media #{$max575} {
                    font-size: 16px;
                }
            }
        }
    }

    .mobile-open {
        left: 0;
        transition: all .2s;
    }

    .mobile-close {
        left: -100%;
        transition: all .2s;
    }

    &--icons {
        display: flex;

        &-icon {

            .icon-link {
                padding-left: 15px;

                .fas {
                    color: $text-clr;
                    font-size: 24px;

                    @media #{$max767} {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}