.newsletter {
    display: flex;
    min-height: 500px;
    width: 100%;
    // height: 500px;

    &--image {
        width: 30%;
        // min-height: 400px;
        height: auto;
        background: url('../images/media/girl-1.jpg');
        background-size: cover;
        background-position: top center;
    }

    &--content {
        width: 70%;
        padding: 30px;
        background-color: $bcg-clr-1;
        box-sizing: border-box;

        &-title {
            padding-bottom: 15px;
            color: $detail-clr-1;
        }

        &-text {
            font-size: 20px;
        }
    }
}