.newsletter {
    width: 100%;
    min-height: 500px;
    display: flex;
    
    &--image {
        width: 30%;
        height: auto;
        background: url('../images/media/girl-2.jpg');
        background-size: cover;
        background-position: top center;
    }

    &--content {
        width: 70%;
        padding: $md-space;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: $bcg-clr-1;
        
        @media #{$max575} {
            padding: $md-space $sm-space;
        }

        &-title {
            width: 100%;
            text-align: center;
            color: $title-clr;

            @media #{$max575} {
                font-size: 40px;
            }
        }

        &-text { 
            width: 100%;
            max-width: 800px;
            margin: auto;
            margin-bottom: 50px;
            font-size: 20px;

            @media #{$max575} {
                font-size: 16px;
            }
        }

        &-form {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .input {
                margin-bottom: 50px;
                padding: 16px 10px;
                border: none;
                border-radius: 5px;
                font-family: main-font-reg;
                font-size: 18px;

                @media #{$max575} {
                    font-size: 16px;
                }
            }

            .form-email {
                width: 400px;
                background-color: $bcg-clr-3;
                outline-color: $bcg-clr-2;
            }

            .form-submit {
                width: 140px;
                margin-left: $md-space;
                margin-right: $md-space;
                background-color: $good-clr;
                font-family: main-font-reg;
                color: $text-clr;
            }
        }
    }
}