.newsletter {
    display: flex;
    min-height: 500px;
    width: 100%;

    &--image {
        width: 30%;
        height: auto;
        background: url('../images/media/girl-2.jpg');
        background-size: cover;
        background-position: top center;
    }

    &--content {
        width: 70%;
        padding: 30px;
        background-color: $bcg-clr-1;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &-title {
            color: $detail-clr-1;
            text-align: center;
            width: 100%;

            @media #{$max575} {
                font-size: 40px;
            }
        }

        &-text {
            font-size: 20px;
            max-width: 800px;
            margin: auto;
            margin-bottom: 50px;
            width: 100%;

            @media #{$max575} {
                font-size: 16px;
            }
        }

        &-form {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;

            .input {
                border: none;
                border-radius: 5px;
                padding: 16px 10px;
                font-family: main-font-reg;
                margin-bottom: 50px;
                font-size: 18px;

                @media #{$max575} {
                    font-size: 16px;
                }
            }

            .form-email {
                width: 400px;
                background-color: $bcg-clr-3;
                outline-color: $bcg-clr-2;
            }

            .form-submit {
                width: 140px;
                margin-left: 30px;
                margin-right: 30px;
                background-color: $bcg-clr-2;
                font-family: main-font-reg;
                color: $title-clr;
                border: 1px solid $title-clr;
            }
        }
    }
}