.footer {
    width: 100%;
    padding: $md-space;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    background-color: $bcg-clr-2;
    
    @media #{$max575} {
        padding: $md-space $sm-space;
    }

    &--list {
        width: 33%;
        padding-left: 100px;

        @media #{$max991} {
            padding-left: 0;
        }
    }

    &--info {
        text-align: center;
    }

    &--source-info {
        width: 100%;
        padding-top: $sm-space;
    }

    &--access-info {
        width: 100%;
    }
}