.products {

    &--list {

        &-el {
            position: relative;

            &:hover {
                .product-info {
                    display: inline-block;
                }
            }

            .product-image {
                width: 100%;
            }
    
            .product-info {
                position: absolute;
                display: none;
                box-sizing: border-box;
                padding: 30px;
                width: 90%;
                height: 90%;
                background-color: $bcg-clr-2;
                z-index: 2;
                left: 5%;
                top: 5%;
                line-height: 22px;
                border-radius: 5px;
    
                &-title {
                    padding: 10px 0;
                    color: $title-clr;
                }
    
                &-desc {
                    padding: 10px 0;
                }
    
                &-list-name {
                    padding-bottom: 10px;
                }
    
                &-list {
    
                    &-el {
                        position: relative;
                        display: inline-block;
                        width: 40%;
                        box-sizing: border-box;
                        padding-left: 5px;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: $detail-clr-2;
                            position: absolute;
                            z-index: -1;
                            left: -10px;
                        }
                    }
                }

                &-availability {
                    display: block;
                    padding: 10px 0;
                    font-family: main-font-bold;
                }

                .available {
                    color: $good-clr;
                }

                .unavailable {
                    color: $alert-clr;
                }

                .product-btn {
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    color: $white;
                    cursor: pointer;
                }

                .btn-add {
                    background-color: $good-clr;
                }

                .btn-alert {
                    background-color: $alert-clr;
                }
            }
        }
    }
}