.products {

    &--list {

        &-el {
            position: relative;
            outline: none;

            @media #{$max575} {
               display: flex;
               flex-wrap: nowrap;
            }

            &:hover {
                .product-info {
                    display: flex;
                }
            }

            .product-image {
                width: 100%;

                @media #{$max575} {
                    width: 50%;
                    min-height: 300px;
                    margin: 0;
                    display: inline-block;
                    outline: none;
                    float: left;
                    object-fit: cover;
                }
            }
    
            .product-info {
                width: 90%;
                height: 90%;
                padding: $md-space;
                position: absolute;
                top: 5%;
                left: 5%;
                display: none;
                flex-wrap: wrap;
                align-items: center;
                box-sizing: border-box;
                line-height: 22px;
                border-radius: 5px;
                background-color: $bcg-clr-2;
                z-index: 2;

                @media #{$max991} {
                    padding: $sm-space;
                    line-height: 18px;
                }

                @media #{$max575} {
                    width: 50%;
                    height: 100%;
                    top: 0;
                    left: 50%;
                    display: flex;
                    line-height: 16px;
                    font-size: 14px;
                }
    
                &-title {
                    width: 100%;
                    padding: $xs-space 0;
                    color: $title-clr;

                    @media #{$max991} {
                        padding: 5px 0;
                        font-size: 20px;
                    }
                }
    
                &-desc {
                    width: 100%;
                    padding: $xs-space 0;
                }
    
                &-list-name {
                    width: 100%;
                    padding-bottom: $xs-space;

                    @media #{$max991} {
                        padding-bottom: 5px;
                    }
                }
    
                &-list {
                    width: 100%;

                    @media #{$max991} {
                        padding-bottom: $xs-space;
                    }
    
                    &-el {
                        width: 40%;
                        padding-left: $xs-space;
                        position: relative;
                        display: inline-block;
                        box-sizing: border-box;
                        
                        &::before {
                            @include list-dot(20px, -3px);
                        }
                    }
                }

                &-stock {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    .product-availability {
                        padding: $xs-space 0;
                        display: inline;
                        font-family: main-font-bold;
    
                        @media #{$max991} {
                            font-size: 14px;
                        }

                        @media #{$max575} {
                            font-size: 12px;
                        }
                    }
    
                    .available {
                        color: $good-clr;
                    }
    
                    .unavailable {
                        color: $alert-clr;
                    }
    
                    .product-btn {
                        padding: 7px;
                        display: inline;
                        border: none;
                        border-radius: 5px;
                        color: $text-clr;
                        cursor: pointer;

                        @media #{$max991} {
                            padding: 7px;
                            font-size: 14px;
                        }

                        @media #{$max575} {
                            font-size: 12px;
                        }
                    }
    
                    .btn-add {
                        background-color: $good-clr;
                    }
    
                    .btn-alert {
                        background-color: $alert-clr;
                    }
                }
            }
        }
    }
}