.products {

    &--list {

        &-el {
            position: relative;

            &:hover {
                .product-info {
                    display: flex;
                }
            }

            .product-image {
                width: 100%;
            }
    
            .product-info {
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                box-sizing: border-box;
                padding: 30px;
                width: 90%;
                height: 90%;
                background-color: $bcg-clr-2;
                z-index: 2;
                left: 5%;
                top: 5%;
                line-height: 22px;
                border-radius: 5px;

                @media #{$max991} {
                    line-height: 18px;
                    padding: 15px;
                    
                }
    
                &-title {
                    padding: 10px 0;
                    color: $title-clr;
                    width: 100%;

                    @media #{$max991} {
                        font-size: 20px;
                        padding: 5px 0;
                    }
                }
    
                &-desc {
                    padding: 10px 0;
                    width: 100%;
                }
    
                &-list-name {
                    padding-bottom: 10px;
                    width: 100%;

                    @media #{$max991} {
                        padding-bottom: 5px;
                    }
                }
    
                &-list {
                    width: 100%;

                    @media #{$max991} {
                        padding-bottom: 10px;
                    }
    
                    &-el {
                        position: relative;
                        display: inline-block;
                        width: 40%;
                        box-sizing: border-box;
                        padding-left: 10px;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: $detail-clr-2;
                            position: absolute;
                            z-index: -1;
                            left: -3px;
                        }
                    }
                }

                &-stock {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    .product-availability {
                        display: inline;
                        padding: 10px 0;
                        font-family: main-font-bold;
                        // width: 60%;
    
                        @media #{$max991} {
                            font-size: 14px;
                            // padding: 5px 0;
                        }
                    }
    
                    .available {
                        color: $good-clr;
                    }
    
                    .unavailable {
                        color: $alert-clr;
                    }
    
                    .product-btn {
                        padding: 7px;
                        margin: auto;
                        border: none;
                        border-radius: 5px;
                        color: $white;
                        cursor: pointer;
                        // width: 30%;
                        @media #{$max991} {
                            font-size: 14px;
                            padding: 7px;
                        }
                    }
    
                    .btn-add {
                        background-color: $good-clr;
                    }
    
                    .btn-alert {
                        background-color: $alert-clr;
                    }
                }
            }
        }
    }
}