$bcg-clr-1: rgb(223, 247, 186);
$bcg-clr-2: rgba(215, 184, 230, 0.9);
$bcg-clr-3: rgb(255, 254, 204);

$text-clr: #37353B;
$title-clr: rgb(58, 0, 92);

$detail-clr: rgb(255, 251, 0);
$alert-clr: rgb(255, 73, 73);
$good-clr: rgb(130, 209, 101);

$white: #fff;