@font-face {
    font-family: 'title-font-bold';
    src: url('../fonts/Tangerine/Tangerine-Bold.ttf');
}

@font-face {
    font-family: 'main-font-reg';
    src: url('../fonts/Lato/Lato-Regular.ttf');
}